<?xml version="1.0"?>
<ruleset name="Panasys Popups Coding Standards">
  <description>WordPress coding standards for Panasys Popups.</description>

  <file>panasys-popups.php</file>
  <file>includes</file>
  <file>uninstall.php</file>

  <arg name="basepath" value="."/>
  <arg value="sp"/>
  <arg name="colors"/>

  <rule ref="WordPress-Core"/>
  <rule ref="WordPress-Docs"/>
  <rule ref="WordPress-Extra"/>
  <rule ref="PHPCompatibilityWP">
    <include-pattern>*\.php$</include-pattern>
  </rule>

  <config name="testVersion" value="7.4-"/>
</ruleset>
